.vscode
website/__pycache__
website/database.db

# Flask related
/__pycache__/
*.pyc
instance/

# IDE specific
.idea/
.vscode/

# Environment related
.env/

# Logs
*.log

# Database
your_database.db

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

prototype.py

keys.txt
